
<div class="container">
  <div class="row">
    <div class="span4">
      <h1>Todo App</h1>
      <hr>
      <%= form_for :todo , url: todo_path(@todo), method: :patch do |f| %>
        <p>
          <%= f.label :todo_item %><br>
          <%= f.text_field :todo_item %>
        </p>

        <p>
          <%= f.submit "Edit todo" %>
        </p>
      <% end %>

      <% if !flash[:error].nil? %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert" >×</button>
          <li><strong><%= flash[:error] %></strong></li>
        </div>
      <% end %>

      <% if flash[:success] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" >×</button>
          <li><strong><%= flash[:success] %></strong></li>
        </div>
      <% end %>
      </div> <!-- well -->
    </div> <!-- span4 -->
  </div> <!-- row -->
</div> <!-- container -->
